
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 134rem;
}.frame-3-neT {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-jZh {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12.5rem;
    padding-bottom: 3.3rem;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);

    .divcontactnavcontainer-rPR {
      margin-bottom: 3.55rem;
      box-sizing: border-box;
      padding: 0.95rem 12.666rem 1.05rem 6.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #82c419;
      flex-shrink: 0;

      .link-address-wisigaton-lpusm-loram-WTy {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 21.931rem;
        display: flex;
        line-height: 1.5;
        font-size: 1.6rem;
        font-weight: 400;
        flex-shrink: 0;
      }
      .link-email-demogmailcom-AoR {
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 22.003rem;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .link-phone-call-01-123455678990-tUX {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-txts-c9d {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.014rem 0rem 3.1rem;
      width: calc(100% - 10.1141rem);

      .group-11-jEF {
        margin: 0.95rem 47.534rem 0rem 0rem;
        width: 3.5rem;
        cursor: pointer;
        row-gap: 0.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .nav-button-2UF {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .nav-button-v3q {
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
          width: 2rem;
        }
        .nav-button-oNX {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
      }
      .nav-link-primecare-koZ {
        font-size: 2.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 44.966rem 0.25rem 0rem;
        display: flex;
        font-weight: 700;
        color: #2d2d2c;
      }
      .nav-link-login-GG7 {
        margin: 0rem 7.106rem 0.15rem 0rem;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        text-transform: uppercase;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .vector-LWs {
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.25rem;
        width: 1.7797rem;
      }
    }
  }
  .auto-group-xvg3-Es9 {
    margin: 0rem 16.68rem 12.539rem 17.4rem;
    width: calc(100% - 34.08rem);
    height: 41.5rem;
    position: relative;
    flex-shrink: 0;

    .section-vV5 {
      position: absolute;
      left: 48.7rem;
      top: 1.9rem;
      background-color: #252525;
      box-sizing: border-box;
      padding: 2.4rem 2.82rem 2.5rem 2.5rem;
      width: 51.22rem;
      height: 37.539rem;

      .heading-2-about-us-d8b {
        margin-bottom: 0.789rem;
        display: flex;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2000000477;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .anything-embarrassing-hidden-in-the-middle-of-text-all-the-lorem-ipsum-generators-on-the-internet-tend-to-repeat-predefined-chunks-as-necessary-making-this-the-first-true-generator-on-the-internetanything-embarrassing-hidden-in-the-middle-of-text-all-the-lorem-ipsum-generators-on-the-internet-tend-to-repeat-predefined-chunks-as-necessary-making-this-the-first-true-generator-on-the-internetanything-embarrassing-hidden-in-the-middle-of-text-all-the-lorem-ipsum-generators-on-the-internet-tend-to-repeat-7ZZ {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 1.55rem;
        max-width: 45.9rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .link-r9m {
        width: calc(100% - 27.853rem);
        height: 2.4rem;
        display: flex;
        align-items: center;
        margin-right: 27.853rem;

        .read-more-np7 {
          margin-right: 0.447rem;
          display: flex;
          line-height: 1.5;
          color: #82c419;
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .separator-Kp3 {
          width: 9rem;
          height: calc(100% - 2.3rem);
          overflow: hidden;
          position: relative;
          background-color: rgba(130, 196, 25, 0.25);
          flex-shrink: 0;
          margin: 1.15rem 0;
          opacity: 0.25;
        }
      }
    }
    .about-img-1-r3H {
      width: 50.1rem;
      height: 41.5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .section-Mkj {
    padding: 4.5rem 6.7rem;
    width: 100%;
    height: 28.6rem;
    display: flex;
    align-items: center;
    background-color: #252525;
    flex-shrink: 0;
    box-sizing: border-box;

    .divcol-md-4-THy {
      margin-right: 22.6rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-5-address-CFZ {
        margin-bottom: 2.45rem;
        font-weight: 500;
        line-height: 1.2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 2rem;
        color: #ffffff;
        flex-shrink: 0;
      }
      .link-location-7tK {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.6rem;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 0.5rem;
        display: flex;
      }
      .link-call-01-1234567890-Ru1 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        color: #ffffff;
        margin: 0rem 0rem 1rem 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .link-demogmailcom-7G3 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.55rem 0.5rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
      }
      .auto-group-dtkb-RGj {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        flex-shrink: 0;

        .link-Xaf {
          border-radius: 3rem;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .link-UVu {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
        .link-baX {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
        .link-wuH {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-4u4s-ckX {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 6.2rem 5rem 0rem;

      .heading-5-navigation-YPH {
        font-size: 2rem;
        line-height: 1.2;
        color: #ffffff;
        margin-bottom: 1.95rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .link-home-ehD {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0rem 1.55rem 0.5rem;
        font-weight: 400;
        color: #ffffff;
      }
      .link-why-us-Z3V {
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.5rem 0.5rem;
        font-weight: 400;
        color: #ffffff;
      }
      .link-testimonial-t5m {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.5rem;
        font-weight: 400;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
      }
    }
    .auto-group-lpsj-z8o {
      row-gap: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 4.4rem 11.3rem 5rem 0rem;
      height: calc(100% - 9.4rem);

      .link-about-tV5 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #82c419;
        font-family: Poppins, 'Source Sans Pro';
      }
      .link-our-team-qQK {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-contact-us-z2K {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .divcol-md-4-vgf {
      margin-bottom: 4.8rem;
      width: 42.6rem;
      flex-shrink: 0;

      .heading-5-newsletter-HGK {
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
      }
      .form-input-pn3 {
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        padding: 1.05rem 1.6rem;
        width: 100%;
        height: 4.5rem;
        border: solid 0.1rem #82c419;

        .divplaceholder-ZzX {
          width: 13rem;
          height: 100%;
          position: relative;
          display: flex;
          font-size: 1.6rem;
          white-space: nowrap;
          justify-content: center;
          margin-right: 26.4rem;
          overflow: hidden;
          font-weight: 400;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          line-height: 1.5;
          align-items: center;
        }
      }
      .form-button-qh9 {
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #82c419;
        width: 18.916rem;
        display: flex;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        height: 4.4rem;
        justify-content: center;
      }
    }
  }
}
