
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 134rem;
}.frame-5-py5 {
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  padding-top: 0.017rem;

  .header-MCK {
    flex-shrink: 0;
    padding-bottom: 3.3rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    margin-bottom: 11.9rem;
    box-sizing: border-box;
    display: flex;

    .divcontactnavcontainer-UXq {
      background-color: #82c419;
      flex-shrink: 0;
      margin-bottom: 3.55rem;
      box-sizing: border-box;
      padding: 0.95rem 12.666rem 1.05rem 6.7rem;
      width: 100%;
      display: flex;
      align-items: center;

      .link-address-wisigaton-lpusm-loram-bMZ {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.6rem;
        display: flex;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 21.931rem;
      }
      .link-email-demogmailcom-Ssy {
        margin-right: 22.003rem;
        line-height: 1.5;
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .link-phone-call-01-123455678990-aDV {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-hemd-fVq {
      margin: 0rem 7.014rem 0rem 3.1rem;
      width: calc(100% - 10.1141rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-14-Pwd {
        margin: 0.95rem 47.534rem 0rem 0rem;
        width: 3.5rem;
        cursor: pointer;
        row-gap: 0.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .nav-button-vAs {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .nav-button-UCP {
          width: 2rem;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .nav-button-Cu5 {
          background-color: #252525;
          flex-shrink: 0;
          width: 100%;
          height: 0.5rem;
        }
      }
      .nav-link-primecare-YT9 {
        margin: 0rem 44.966rem 0.25rem 0rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 700;
        color: #2d2d2c;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .nav-link-login-rTq {
        flex-shrink: 0;
        text-transform: uppercase;
        color: #000000;
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 7.106rem 0.184rem 0rem;
        display: flex;
        font-size: 1.6rem;
      }
      .vector-8w9 {
        margin-bottom: 0.284rem;
        width: 1.7797rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .section-Fks {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 9.7rem 9.264rem 9.7rem;
    width: calc(100% - 19.4rem);

    .heading-2-testimonial-b43 {
      margin: 0rem 0rem 2.339rem 0.035rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2000000477;
      color: #212529;
    }
    .divbox-6Wb {
      margin-bottom: 4.5rem;
      width: 100%;
      height: 32.58rem;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;

      .divclientdetail-D5R {
        top: 4.5rem;
        border: solid 0.1rem #82c419;
        box-sizing: border-box;
        padding: 4.59rem 3.6rem 5.25rem 9.1rem;
        width: 108.1rem;
        height: 28.08rem;
        position: absolute;
        left: 6.5rem;

        .heading-4-roocky-rom-uiw {
          display: flex;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.1999999682;
          color: #212529;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.465rem;
        }
        .parante-r8P {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #82c419;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.475rem;
          display: flex;
        }
        .use-a-passage-of-lorem-ipsum-you-need-to-be-sure-there-isnt-anything-embarrassing-hidden-in-the-middle-of-text-all-the-lorem-ipsum-generators-on-the-internet-tend-to-repeat-predefined-chunks-as-necessary-making-this-the-first-true-generator-on-the-internet-use-a-passage-of-lorem-ipsum-you-need-to-be-sure-there-isnt-anything-embarrassing-hidden-in-the-middle-of-text-all-the-lorem-ipsum-generators-on-the-internet-tend-to-repeat-predefined-chunks-as-necessary-making-this-the-first-true-generator-on-the-internet-CCF {
          font-family: Poppins, 'Source Sans Pro';
          max-width: 95.4rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
        }
      }
      .divimg-box-uks {
        top: 0;
        border: solid 0.1rem #82c419;
        box-sizing: border-box;
        width: 12.5rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
      }
      .client-1-q8j {
        left: 0;
        top: 0.144rem;
        object-fit: cover;
        vertical-align: top;
        width: 12.5rem;
        height: 18.5rem;
        position: absolute;
      }
    }
    .auto-group-mksy-a6K {
      column-gap: 1rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0 53.3rem;
      width: calc(100% - 106.6rem);
      display: flex;

      .ordered-list-item-FTM {
        width: 2rem;
        height: 2rem;
        background-color: #82c419;
        flex-shrink: 0;
      }
      .ordered-list-item-PpT {
        height: 2rem;
        background-color: #252525;
        flex-shrink: 0;
        width: 2rem;
      }
      .ordered-list-item-jtK {
        height: 2rem;
        background-color: #252525;
        flex-shrink: 0;
        width: 2rem;
      }
    }
  }
  .section-goZ {
    background-color: #252525;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.5rem 6.7rem;
    width: 100%;
    height: 28.6rem;
    display: flex;
    align-items: center;

    .divcol-md-4-qAf {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 22.6rem;

      .heading-5-address-BVR {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 2.45rem;
        font-size: 2rem;
        font-weight: 500;
        flex-shrink: 0;
        display: flex;
        line-height: 1.2;
        white-space: nowrap;
      }
      .link-location-WXh {
        margin: 0rem 0rem 1rem 0.5rem;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #ffffff;
        display: flex;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-call-01-1234567890-pHV {
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1rem 0.5rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .link-demogmailcom-vbR {
        display: flex;
        flex-shrink: 0;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.55rem 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .auto-group-dhq3-2uM {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        flex-shrink: 0;

        .link-ndd {
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
        }
        .link-wWX {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
        .link-eQw {
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
        .link-9cb {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-ehaw-Hio {
      margin: 0rem 6.2rem 5rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-5-navigation-cm5 {
        line-height: 1.2;
        color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 1.95rem;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .link-home-i3R {
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.55rem 0.5rem;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        flex-shrink: 0;
      }
      .link-why-us-cuV {
        font-size: 1.6rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0rem 1.5rem 0.5rem;
        display: flex;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-testimonial-YYF {
        margin-left: 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        line-height: 1.5;
        color: #82c419;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-qr6w-sqR {
      margin: 4.4rem 11.3rem 5rem 0rem;
      height: calc(100% - 9.4rem);
      row-gap: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .link-about-P35 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .link-our-team-hZZ {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
      }
      .link-contact-us-dCK {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .divcol-md-4-Ai3 {
      margin-bottom: 4.8rem;
      width: 42.6rem;
      flex-shrink: 0;

      .heading-5-newsletter-65u {
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
      }
      .form-input-pnb {
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        padding: 1.05rem 1.6rem;
        width: 100%;
        height: 4.5rem;
        border: solid 0.1rem #82c419;

        .divplaceholder-ArT {
          width: 13rem;
          overflow: hidden;
          line-height: 1.5;
          white-space: nowrap;
          justify-content: center;
          margin-right: 26.4rem;
          position: relative;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          height: 100%;
          display: flex;
          color: #ffffff;
        }
      }
      .form-button-dzw {
        font-family: Poppins, 'Source Sans Pro';
        width: 18.916rem;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        background-color: #82c419;
        height: 4.4rem;
        display: flex;
        justify-content: center;
        line-height: 1.5;
      }
    }
  }
}
