
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 134rem;
}.frame8-cZV {
  height: 72rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .image-3-xdM {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 89.3rem;
    height: 72.3rem;
    position: absolute;
  }
  .sign-up-overlay-uYb {
    height: 75.4rem;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    padding: 6.3rem 3.5rem 6.2rem 10.2rem;
    width: 73.2rem;
    left: 57.2rem;
    top: 0;
    overflow: hidden;
    align-items: flex-start;
    background-color: #ffffff;

    .frame-315-za3 {
      margin-right: 4.2rem;
      width: 52.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .sign-up-Y5m {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.7rem;
        display: flex;
        align-items: center;
        font-weight: 500;
        justify-content: center;
        font-size: 3.2rem;
        color: #333333;
        flex-shrink: 0;
      }
      .frame-313-32X {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.75rem;
        width: 100%;
        row-gap: 1.6rem;
        align-items: center;
        display: flex;

        .auto-group-qskr-PMH {
          width: 100%;
          height: 12.7rem;
          position: relative;
          flex-shrink: 0;

          .text-field-vMD {
            height: 11.2rem;
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            padding-bottom: 2.5rem;
            width: 52.8rem;

            .frame-243-f3u {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.4rem;
              width: 51.9137rem;
              font-size: 1.6rem;
              color: #666666;
              height: 2.7rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .text-field-d99 {
              width: 100%;
              height: 5.6rem;
              overflow: hidden;
              position: relative;
              border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
              box-sizing: border-box;
              border-radius: 1.2rem;
            }
          }
          .label-xBR {
            font-size: 1.6rem;
            color: #666666;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 10.3rem;
            font-weight: 400;
            line-height: 1.5;
            width: 7.7rem;
            height: 2.4rem;
          }
        }
        .text-field-e4F {
          width: 100%;
          height: 5.6rem;
          overflow: hidden;
          position: relative;
          border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
          box-sizing: border-box;
          border-radius: 1.2rem;
          flex-shrink: 0;
        }
        .button-x4w {
          height: 6.4rem;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          width: 100%;
          background-color: #82c419;
          border-radius: 3.2rem;
          flex-shrink: 0;
          padding: 1.5rem 22.1rem 1.6rem 22.1rem;

          .frame-276-HN7 {
            line-height: 1.5;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 2.2rem;
            font-weight: 500;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            display: flex;
          }
        }
      }
      .divider-PAF {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.75rem;

        .divider-99R {
          margin-right: 2.3rem;
          width: 22.65rem;
          height: 0.2rem;
          background-color: rgba(102, 102, 102, 0.25);
          flex-shrink: 0;
        }
        .or-tMu {
          flex-shrink: 0;
          margin-right: 2.7rem;
          display: flex;
          line-height: 1.2575;
          font-family: Avenir, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 400;
          color: #666666;
        }
        .divider-CdV {
          width: 22.65rem;
          height: 0.2rem;
          background-color: rgba(102, 102, 102, 0.25);
          flex-shrink: 0;
        }
      }
      .frame-307-8n3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        row-gap: 1.6rem;
        align-items: center;

        .social-media-signup-login-UL7 {
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 4rem;
          flex-shrink: 0;
          position: relative;
          border: solid 0.1rem #333333;
          padding: 1.85rem 13.8rem 1.75rem 12.1rem;
          width: 100%;
          height: 6.4rem;
          overflow: hidden;

          .frame-277-159 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .social-media-logo-Aij {
              height: 2.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: 2.8rem;
            }
            .continue-with-facebook-Wnb {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #333333;
              font-family: Avenir, 'Source Sans Pro';
            }
          }
        }
        .social-media-signup-login-DS7 {
          box-sizing: border-box;
          height: 6.4rem;
          overflow: hidden;
          background-color: #ffffff;
          border-radius: 4rem;
          flex-shrink: 0;
          padding: 1.75rem 15.4rem 1.85rem 13.5rem;
          width: 100%;
          position: relative;
          border: solid 0.1rem #333333;

          .frame-7-x8o {
            box-sizing: border-box;
            padding-left: 0.1501rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .social-media-logo-gqV {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.75rem 0rem 0rem;
              width: 2.1rem;
              height: 2.1rem;
              position: relative;
              object-fit: contain;
            }
            .continue-with-google-CYw {
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #333333;
              font-family: Avenir, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
        }
        .social-media-signup-login-HaP {
          width: 100%;
          overflow: hidden;
          position: relative;
          border-radius: 4rem;
          box-sizing: border-box;
          padding: 1.55rem 15.5rem 1.65rem 13.8rem;
          background-color: #ffffff;
          flex-shrink: 0;
          height: 6.4rem;
          border: solid 0.1rem #333333;

          .frame-7-1mH {
            padding: 0.2rem 0rem 0.2rem 0.2rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            .social-media-logo-A8P {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.8rem 0rem 0rem;
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
            }
            .continue-with-apple-rX1 {
              color: #333333;
              font-family: Avenir, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
        }
      }
    }
    .vector-ZRR {
      width: 2.5002rem;
      height: 1.9442rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
