
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 134rem;
}.frame-2-Jhm {
  padding-top: 0.039rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background-color: #ffffff;

  .header-pAK {
    flex-shrink: 0;
    margin-bottom: 11.9rem;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-bottom: 3.3rem;
    align-items: center;
    flex-direction: column;

    .divcontactnavcontainer-ZNo {
      flex-shrink: 0;
      margin-bottom: 3.55rem;
      box-sizing: border-box;
      padding: 0.95rem 12.666rem 1.05rem 6.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #82c419;

      .link-address-wisigaton-lpusm-loram-r71 {
        margin-right: 21.931rem;
        font-size: 1.6rem;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-email-demogmailcom-YkX {
        line-height: 1.5;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 22.003rem;
      }
      .link-phone-call-01-123455678990-5Ef {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .auto-group-ercs-zsR {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.014rem 0rem 3.1rem;
      width: calc(100% - 10.1141rem);

      .group-12-j4K {
        cursor: pointer;
        row-gap: 0.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.95rem 47.534rem 0rem 0rem;
        width: 3.5rem;

        .nav-button-DkB {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .nav-button-AvK {
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
          width: 2rem;
        }
        .nav-button-L47 {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
      }
      .nav-link-primecare-ro9 {
        margin: 0rem 44.966rem 0.25rem 0rem;
        display: flex;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        color: #2d2d2c;
      }
      .nav-link-login-aUF {
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 7.106rem 0.228rem 0rem;
      }
      .vector-4uD {
        width: 1.7797rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.328rem;
      }
    }
  }
  .section-heading-2-get-in-touch-iD5 {
    justify-content: center;
    font-weight: 700;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    margin-left: 0.0368rem;
    align-items: center;
    font-size: 3.2rem;
    line-height: 1.2000000477;
    color: #212529;
    white-space: nowrap;
    display: flex;
  }
  .auto-group-4bvf-DvX {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.339rem 26.2rem 12rem 26.2rem;

    .section-form-input-kfZ {
      box-sizing: border-box;
      padding: 1.05rem 1.5rem;
      width: 100%;
      height: 4.5rem;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 2.022rem;

      .divplaceholder-VNF {
        width: 8.3rem;
        font-size: 1.6rem;
        color: #acabab;
        margin-right: 70.3rem;
        height: 100%;
        position: relative;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        overflow: hidden;
        display: flex;
        font-weight: 400;
        align-items: center;
      }
    }
    .auto-group-zwud-aPh {
      margin-bottom: 1.978rem;
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .section-form-input-j1h {
        margin-right: 2.3rem;
        box-sizing: border-box;
        padding: 1.05rem 1.5rem;
        width: 40.8rem;
        height: 100%;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        flex-shrink: 0;

        .divplaceholder-euM {
          align-items: center;
          font-weight: 400;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 4.4rem;
          overflow: hidden;
          font-size: 1.6rem;
          justify-content: center;
          display: flex;
          color: #acabab;
          white-space: nowrap;
          margin-right: 33.4rem;
          height: 100%;
          position: relative;
        }
      }
      .section-form-input-vby {
        width: 38.5rem;
        height: 100%;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.05rem 1.5rem;

        .divplaceholder-U7h {
          overflow: hidden;
          display: flex;
          color: #acabab;
          white-space: nowrap;
          align-items: center;
          margin-right: 23.6rem;
          line-height: 1.5;
          width: 11.9rem;
          height: 100%;
          position: relative;
          font-weight: 400;
          justify-content: center;
          font-size: 1.6rem;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .section-form-input-tSK {
      margin-bottom: 4.5rem;
      box-sizing: border-box;
      padding: 5.05rem 1.5rem;
      width: 100%;
      height: 12.5rem;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
      background-color: #ffffff;
      flex-shrink: 0;

      .divplaceholder-cdD {
        overflow: hidden;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        height: 100%;
        font-weight: 400;
        line-height: 1.5;
        align-items: center;
        width: 7.2rem;
        justify-content: center;
        position: relative;
        font-size: 1.6rem;
        color: #acabab;
        white-space: nowrap;
        margin-right: 71.4rem;
      }
    }
    .section-form-button-uMR {
      margin: 0rem 32.281rem 0rem 32.281rem;
      background-color: #82c419;
      flex-shrink: 0;
      width: calc(100% - 64.562rem);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      height: 4.4rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .section-EHD {
    height: 28.6rem;
    display: flex;
    align-items: center;
    background-color: #252525;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.5rem 6.7rem;
    width: 100%;

    .divcol-md-4-ZqH {
      margin-right: 22.6rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-5-address-7bu {
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.45rem;
        display: flex;
        line-height: 1.2;
      }
      .link-location-d4T {
        margin: 0rem 0rem 1rem 0.5rem;
        display: flex;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-call-01-1234567890-9Yb {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0rem 1rem 0.5rem;
        font-size: 1.6rem;
        line-height: 1.5;
      }
      .link-demogmailcom-Epw {
        margin: 0rem 0rem 2.55rem 0.5rem;
        display: flex;
        font-size: 1.6rem;
        color: #ffffff;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-kazd-Aib {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        flex-shrink: 0;

        .link-hiX {
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
        .link-3XV {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
        .link-Q79 {
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
        }
        .link-kgo {
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
        }
      }
    }
    .auto-group-jr2x-FdZ {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 6.2rem 5rem 0rem;
      display: flex;

      .heading-5-navigation-bBd {
        display: flex;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.95rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2rem;
      }
      .link-home-V27 {
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 0rem 1.55rem 0.5rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .link-why-us-yT5 {
        margin: 0rem 0rem 1.5rem 0.5rem;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
      }
      .link-testimonial-sYT {
        display: flex;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        margin-left: 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-evzs-1Pm {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 4.4rem 11.3rem 5rem 0rem;
      height: calc(100% - 9.4rem);
      row-gap: 1.5rem;

      .link-about-7Bu {
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .link-our-team-eSj {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-contact-us-zFh {
        line-height: 1.5;
        color: #82c419;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .divcol-md-4-8co {
      margin-bottom: 4.8rem;
      width: 42.6rem;
      flex-shrink: 0;

      .heading-5-newsletter-Hkb {
        font-weight: 500;
        line-height: 1.2;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
        display: flex;
        font-size: 2rem;
      }
      .form-input-2y5 {
        width: 100%;
        height: 4.5rem;
        border: solid 0.1rem #82c419;
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        padding: 1.05rem 1.6rem;

        .divplaceholder-ZCK {
          line-height: 1.5;
          overflow: hidden;
          color: #ffffff;
          white-space: nowrap;
          width: 13rem;
          height: 100%;
          display: flex;
          font-size: 1.6rem;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 26.4rem;
          position: relative;
          font-weight: 400;
          align-items: center;
          justify-content: center;
        }
      }
      .form-button-Mdy {
        width: 18.916rem;
        display: flex;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        height: 4.4rem;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        background-color: #82c419;
      }
    }
  }
}
