
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 134rem;
}.frame-6-U8w {
  width: 100%;
  height: 130rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-kzpv-QoH {
    top: 41.534rem;
    display: flex;
    align-items: flex-start;
    width: 124.9rem;
    height: 41.466rem;
    position: absolute;
    left: 1.5rem;

    .team5-1-jaf {
      margin-top: 2.5rem;
      opacity: 0.7;
      width: 23.5rem;
      height: 30.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-gzh1-sB5 {
      width: 54.4rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .team4-1-mXM {
        vertical-align: top;
        opacity: 0.5;
        width: 23.5rem;
        height: 30.4rem;
        position: absolute;
        left: 0;
        top: 2.5rem;
        object-fit: cover;
      }
      .team1-1-75R {
        left: 21.7rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 32.7rem;
        height: 35.3rem;
        position: absolute;
      }
      .rectangle-2-rHu {
        height: 12.5rem;
        position: absolute;
        left: 27.5rem;
        top: 28.966rem;
        background-color: #82c419;
        border-radius: 2rem;
        width: 21.2rem;
      }
      .ellipse-1-ytK {
        border-radius: 2rem;
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 29rem;
        top: 35.666rem;
        background-color: #ffffff;
      }
      .ellipse-2-ib1 {
        background-color: #ffffff;
        border-radius: 2rem;
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 33.7rem;
        top: 35.666rem;
      }
      .ellipse-3-dCB {
        position: absolute;
        left: 38.4rem;
        top: 35.666rem;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 4rem;
        height: 4rem;
      }
      .ellipse-4-wyZ {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 43.1rem;
        top: 35.666rem;
        background-color: #ffffff;
        border-radius: 2rem;
      }
      .vector-6Lf {
        object-fit: contain;
        vertical-align: top;
        width: 1.5703rem;
        height: 2.5rem;
        position: absolute;
        left: 30.2rem;
        top: 36.466rem;
      }
      .henery-bilson-Ehm {
        justify-content: center;
        font-weight: 600;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.5;
        white-space: nowrap;
        top: 31.666rem;
        display: flex;
        font-size: 1.6rem;
        width: 12.1rem;
        height: 2.4rem;
        position: absolute;
        left: 32rem;
        align-items: center;
      }
      .vector-isq {
        vertical-align: top;
        width: 2.0938rem;
        height: 2rem;
        position: absolute;
        left: 39.4rem;
        top: 36.566rem;
        object-fit: contain;
      }
      .vector-sVq {
        width: 2.4078rem;
        height: 2rem;
        position: absolute;
        left: 34.5rem;
        top: 36.666rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-bRq {
        object-fit: contain;
        vertical-align: top;
        width: 2.4078rem;
        height: 2.3rem;
        position: absolute;
        left: 43.9rem;
        top: 36.566rem;
      }
    }
    .auto-group-xcfh-7f5 {
      box-sizing: border-box;
      padding: 2.5rem 0;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .team3-1-sPM {
        vertical-align: top;
        flex-shrink: 0;
        opacity: 0.7;
        width: 23.5rem;
        height: 30.4rem;
        object-fit: cover;
      }
      .team2-1-Di7 {
        flex-shrink: 0;
        opacity: 0.5;
        width: 23.5rem;
        height: 30.4rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .section-heading-2-our-team-M3d {
    white-space: nowrap;
    justify-content: center;
    color: #212529;
    position: absolute;
    top: 26.2rem;
    width: 16.2rem;
    height: 3.9rem;
    font-family: Poppins, 'Source Sans Pro';
    align-items: center;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2000000477;
    left: 58.9rem;
    display: flex;
  }
  .section-words-which-dont-look-even-slightly-believable-if-you-are-going-to-use-a-passage-m-Sas {
    width: 66.7rem;
    font-size: 1.6rem;
    line-height: 1.5;
    position: absolute;
    left: 33.7rem;
    color: #212529;
    font-family: Poppins, 'Source Sans Pro';
    align-items: center;
    white-space: nowrap;
    height: 2.4rem;
    top: 30.9rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
  .header-5dq {
    box-sizing: border-box;
    padding-bottom: 3.3rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 134rem;
    height: 15.1rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;

    .divcontactnavcontainer-cdm {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #82c419;
      flex-shrink: 0;
      margin-bottom: 3.55rem;
      box-sizing: border-box;
      padding: 0.95rem 12.666rem 1.05rem 6.7rem;

      .link-address-wisigaton-lpusm-loram-iB1 {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 21.931rem;
        display: flex;
        line-height: 1.5;
        color: #ffffff;
      }
      .link-email-demogmailcom-BaP {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 22.003rem;
        display: flex;
        flex-shrink: 0;
      }
      .link-phone-call-01-123455678990-tDu {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .auto-group-aq4f-PwM {
      margin: 0rem 7.014rem 0rem 3.1rem;
      width: calc(100% - 10.1141rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-15-5pB {
        row-gap: 0.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.95rem 47.534rem 0rem 0rem;
        width: 3.5rem;
        cursor: pointer;

        .nav-button-PZy {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .nav-button-KyR {
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
          width: 2rem;
        }
        .nav-button-UrK {
          width: 100%;
          height: 0.5rem;
          background-color: #252525;
          flex-shrink: 0;
        }
      }
      .nav-link-primecare-eF1 {
        display: flex;
        font-weight: 700;
        line-height: 1.5;
        color: #2d2d2c;
        flex-shrink: 0;
        margin: 0rem 44.966rem 0.25rem 0rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
      }
      .nav-link-login-9Sf {
        margin: 0rem 7.106rem 0.15rem 0rem;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        text-transform: uppercase;
        flex-shrink: 0;
        font-weight: 400;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .vector-GXH {
        width: 1.7797rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.25rem;
      }
    }
  }
  .section-Pro {
    background-color: #252525;
    box-sizing: border-box;
    width: 134rem;
    left: 0;
    top: 101.4rem;
    align-items: center;
    padding: 4.5rem 6.7rem;
    height: 28.6rem;
    position: absolute;
    display: flex;

    .divcol-md-4-7Xu {
      margin-right: 22.6rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-5-address-TLs {
        display: flex;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.45rem;
        font-weight: 500;
        line-height: 1.2;
        color: #ffffff;
        white-space: nowrap;
      }
      .link-location-BXm {
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 0.5rem;
        display: flex;
        font-size: 1.6rem;
      }
      .link-call-01-1234567890-VHZ {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        margin: 0rem 0rem 1rem 0.5rem;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .link-demogmailcom-kjH {
        display: flex;
        font-size: 1.6rem;
        line-height: 1.5;
        white-space: nowrap;
        margin: 0rem 0rem 2.55rem 0.5rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-pemd-UfH {
        column-gap: 0.5rem;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.5rem;
        display: flex;

        .link-RaX {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
        }
        .link-meP {
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
        }
        .link-7CT {
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
        }
        .link-4dV {
          vertical-align: top;
          border-radius: 3rem;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
      }
    }
    .auto-group-khcb-DFV {
      flex-shrink: 0;
      margin: 0rem 6.2rem 5rem 0rem;
      display: flex;
      flex-direction: column;

      .heading-5-navigation-Mcb {
        margin-bottom: 1.95rem;
        color: #ffffff;
        white-space: nowrap;
        line-height: 1.2;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
      }
      .link-home-4mu {
        flex-shrink: 0;
        margin: 0rem 0rem 1.55rem 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        white-space: nowrap;
      }
      .link-why-us-FLb {
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        color: #ffffff;
        white-space: nowrap;
        margin: 0rem 0rem 1.5rem 0.5rem;
        font-size: 1.6rem;
        line-height: 1.5;
      }
      .link-testimonial-izs {
        margin-left: 0.5rem;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .auto-group-pck9-2kf {
      margin: 4.4rem 11.3rem 5rem 0rem;
      height: calc(100% - 9.4rem);
      row-gap: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .link-about-Mnw {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .link-our-team-HRh {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #82c419;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .link-contact-us-E63 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .divcol-md-4-AkP {
      margin-bottom: 4.8rem;
      width: 42.6rem;
      flex-shrink: 0;

      .heading-5-newsletter-hkK {
        line-height: 1.2;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2rem;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
      }
      .form-input-csH {
        height: 4.5rem;
        border: solid 0.1rem #82c419;
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        padding: 1.05rem 1.6rem;
        width: 100%;

        .divplaceholder-xgF {
          align-items: center;
          justify-content: center;
          font-family: Poppins, 'Source Sans Pro';
          position: relative;
          font-size: 1.6rem;
          width: 13rem;
          font-weight: 400;
          overflow: hidden;
          display: flex;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 26.4rem;
          height: 100%;
        }
      }
      .form-button-T7D {
        justify-content: center;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        height: 4.4rem;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        width: 18.916rem;
        background-color: #82c419;
      }
    }
  }
}
